    /* Set black background color, white text and some padding */
    footer {
      background-color: #EEE;
      color: black;
      padding: 10px;
      text-align: center;
      margin: 10px;
    }
.rating {
  position: absolute;
  clip: rect(0,50px,50px,0);
}
